@keyframes angel-btn-up {
  from {
    border-radius: 0 60px 0 0;
  }
  to {
    border-radius: 0 36px 0 0;
  }
}
@keyframes angel-btn-down {
  from {
    border-radius: 0 36px 0 0;
  }
  to {
    border-radius: 0 60px 0 0;
  }
}

.covid-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.covid-info {
  width: 740px;
  height: 100px;
  background: #1eb7ee;
  border-top-right-radius: 60px;
  animation: angel-btn-down 0.3s forwards;
  margin-top: 10px;
  &__link {
    padding: 20px 15px 0 20px;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    line-height: 25px;
  }
  &__link-text {
    font-size: 20px;
    font-weight: 700;
  }

  &__link-text-small {
    font-size: 80%;
    font-weight: 400;
  }
}

.covid-info:hover {
  animation: angel-btn-up 0.3s forwards;
}
