.table-container {
  padding-top: 25px;
}

.table {
  margin-top: 35px;
  table-layout: auto;
  width: 100%;
}

.table-head {
  color: #95989a;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  text-align: start;
}

.data-container {
  height: 55px;
}

.result-container {
  background-color: #fff;
  width: 100%;
}
