.table-down {
  padding: 0.75em;
  text-align: start;
  &__termA {
    color: #63c745;
    font-weight: 700;
    border: 1px solid #63c745;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    font-size: 22px;
  }
  &__termB {
    border: 1px solid #1eb7ee;
    color: #1eb7ee;
    font-weight: 700;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    font-size: 22px;
  }
}

.ditals {
  opacity: 0;
}

.table-body {
  font-size: 18px;
  line-height: 40px;
  padding: 16px 10px;
  border: 0;
}

.table {
  margin: 35px 0 16px 0;
  table-layout: auto;
  width: 100%;
}

.table-row:nth-child(odd) {
  background: #e5eff3;
}

.flights:nth-child(even) {
  position: relative;
  z-index: 1;
}

.flights:hover {
  box-shadow: 0 5px 10px rgb(37 40 41 / 30%);
}

.table-head {
  color: #95989a;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  text-align: start;
}
