.footer-row {
  display: flex;
  width: 1120px;
}

.folow-us-list {
  display: flex;

  &__item {
  }
  &__item-link {
    color: #fff;
  }
  &__item-link-svg {
    width: 12px;
  }
}

.footer-column {
  width: 285px;
}

.footer-column + .footer-column {
  padding-left: 20px;
}

.footer-navigation-list {
  &__item {
    height: 35px;
    font-size: 16px;
  }
  &__item-link {
    margin-bottom: 10px;
  }
}

.column-title {
  font-weight: 700;
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}

.number {
  font-size: 24px;
  font-weight: 600;
}
// reworck
.footer-contakts {
  width: 265px;
}
