@keyframes angel-btn-up {
  from {
    border-radius: 0 80px 0 0;
  }
  to {
    border-radius: 0 36px 0 0;
  }
}
@keyframes angel-btn-down {
  from {
    border-radius: 0 36px 0 0;
  }
  to {
    border-radius: 0 80px 0 0;
  }
}

.search-container {
  height: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form-container {
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-form {
  &__title {
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 300;
    margin-bottom: 8px;
  }
}
.search-form-block {
  margin-top: 24px;
  height: 80px;
  font-size: 25px;
  &__input {
    outline: 0;
    width: 550px;
    padding-left: 70px;
    padding-right: 70px;
    height: 80px;
    border: none;
  }

  &__btn {
    text-align: left;
    font-weight: 700;
    height: 80px;
    width: 200px;
    border: none;
    background: #1eb7ee;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0 80px 0 0;
    padding: 0 20px 0 20px;
    animation: angel-btn-down 0.4s forwards;
  }
  &__btn:hover {
    animation: angel-btn-up 0.4s forwards;
  }
}

.search-icon {
  font-size: 30px;
  line-height: 26px;
  left: 25px;
  top: 25px;
  color: grey;
  text-align: center;
  margin-right: -26px;
  position: relative;
  z-index: 1;
  float: left;
}
