.faf {
  color: #1eb7ee;
  width: 50px;
  height: 50px;
}

.date {
  &__input {
    position: absolute;
    width: 45px;
    height: 45px;
  }

  &__setter {
    padding-left: 15px;
    &_calendar {
      width: 80px;
      margin-right: 10px;
    }
  }

  &__output {
    &_calendar {
      font-weight: 700;
    }
  }

  &__btn {
    &_img {
      display: block;
      height: 40px;
      width: 40px;

      background-position: center;
      background-size: 40px;
      background-repeat: no-repeat;
      transition: border-radius 300ms;
      border-radius: 0;

      &:hover {
        border-radius: 25%;
        transition: border-radius 300ms;
      }
    }
  }
}
