@keyframes secondary-mouse-on {
  from {
    background-color: #73d2f0;
  }
  to {
    background-color: #1eb7ee;
  }
}
@keyframes secondary-mouse-off {
  from {
    background-color: #1eb7ee;
  }
  to {
    background-color: #73d2f0;
  }
}

.flights-container {
  margin-top: 40px;
  width: 1120px;
}

.flights-sortList {
  display: flex;
  justify-content: space-around;
  &__item {
    cursor: pointer;
    width: 50%;
    font-size: 24px;
    line-height: 60px;
  }
}

.flights-nav-site {
  background-color: #73d2f0;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  animation: secondary-mouse-off 0.4s forwards;
}

.actual {
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  color: #1eb7ee;
  background-color: #fff;
  position: relative;
  z-index: 111;
}

.flights-nav-site:hover {
  animation: secondary-mouse-on 0.4s forwards;
}
.secondary {
  color: #fff;
}

.left-side {
  border-top-left-radius: 80px;
  padding-right: 100px;
  text-align: end;
}

.right-side {
  border-top-right-radius: 80px;
}

.flights-actual {
  color: #1eb7ee;
}

.flights-secondary {
  color: #fff;
}

.sort-button {
  width: 100%;
  height: 100%;
}
